.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: pink;
}

.header {
  line-height: 3;
}

.buttonsBox { 
  display: flex;
  flex-direction: row;
  width: 55%;
}

.englishInput {
  color: black;
  width: 55%;
  padding: 12px 20px;
  display: flex;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 0.5%;
}

.pigImage {
  pointer-events: none;
  padding: 5%;
  animation: pigImageSpin infinite 20s linear;
}

.button-1 {
  align-items: center;
  align-self: right;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:active {
  outline: 0;
}

.button-1:hover {
  outline: 0;
}

.button-1 span {
  transition: all 200ms;
}

.button-1:hover span {
  transform: scale(.9);
  opacity: .75;
}

.button-2 {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-2:active {
  outline: 0;
}

.button-2:hover {
  outline: 0;
}

.button-2 span {
  transition: all 200ms;
}

.button-2:hover span {
  transform: scale(.9);
  opacity: .75;
}

.button-3 {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-3:active {
  outline: 0;
}

.button-3:hover {
  outline: 0;
}

.button-3 span {
  transition: all 200ms;
}

.button-3:hover span {
  transform: scale(.9);
  opacity: .75;
}

.span {
  display: flex;
  flex-grow: 1;
  height: 50px;
}

@media screen and (max-width: 991px) {
  .button-1 {
    font-size: 15px;
    height: 50px;
  }

  .button-1 span {
    line-height: 50px;
  }
}

@keyframes pigImageSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animatedWord {
  animation: outputAnimation 4s ease-out forwards;
}

#animationContainer {
  height: calc(20px + 2vmin);
  margin-bottom: 0.35%;
}

@keyframes outputAnimation {
  0% {
    color: white;
  }
  99% {
    color:#f34079;
  }
  100%{
    opacity: 0;
    position: fixed;
    z-index: -5;
  }
}

.pigLatinOutput {
  color: white;
  width: 50%;
  height: calc(10px + 2vmin);
  border-radius: 50px;
  font-size: calc(10px + 2vmin);
  margin-bottom: 0.35%;
}

.mersive {
  width: 10%;
  bottom: 0;
  right: 0;
  position: absolute;
}

.verticalSpacing {
  flex-grow: 1;
}